<div class="modal-header">
    <span>Settings</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <label>Color :</label>
    <input class="form-control" [(ngModel)]="color" type="color">
    <label>Size : </label>
    <input class="form-control" [(ngModel)]="cellSize" type="number" min="1" max="100">
</div>
<div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="saveSettings()">Save</button>
</div>