<nb-layout [center]="layout.id === 'center-column'" windowMode>
    <nb-layout-header fixed>
        <ngx-header [position]="sidebar.id === 'start' ? 'normal': 'inverse'"></ngx-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive [end]="sidebar.id === 'end'">
        <nb-sidebar-header>
            <a href="https://github.com/Globuss/cellular-automaton" class="btn btn-hero-success main-btn">
                <i class="ion ion-social-github"></i> <span>View project</span>
            </a>
        </nb-sidebar-header>

        <div>
            <a class="btn btn-primary">
                <i class="menu-icon nb-compose"></i>
                <span class="menu-title">Create new rule</span>
            </a>
            <a class="btn btn-danger" (click)="resetCanvas()">
                <i class="menu-icon nb-compose"></i>
                <span class="menu-title">Reset</span>
            </a>
        </div>
    </nb-sidebar>

    <nb-layout-column class="main-content">
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

    <nb-sidebar class="settings-sidebar" tag="settings-sidebar" state="collapsed" fixed [end]="sidebar.id !== 'end'">
        <ngx-theme-settings></ngx-theme-settings>
    </nb-sidebar>
</nb-layout>