<nb-layout [center]="layout.id === 'center-column'" windowMode>
    <nb-layout-header fixed>
        <ngx-header [position]="sidebar.id === 'start' ? 'normal': 'inverse'"></ngx-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" [end]="sidebar.id === 'end'">
        <nb-sidebar-header>
            <a href="https://github.com/Globuss/cellular-automaton" class="btn btn-hero-success main-btn">
                <i class="ion ion-social-github"></i> <span>View project</span>
            </a>
        </nb-sidebar-header>

        <div style="margin: auto;">
            
            <div class="ng-content form-group;" style="margin-bottom: 20px; margin-top: 50px">
                <select class="ng-content form-control"  (change)="gameChanged($event.target.value)">
                        <option value="" selected disabled hidden>Choose a rule</option>
                        <option value="game_of_life"> Game of life</option>
                        <option value="254">Rule 254</option>
                        <option value="tree">Tree</option>
                </select>
            </div>

            <div href (click)="openModalCreateRule()" class="btn btn-hero-primary" style="width:100%;margin-bottom: 30px;">
                <i class="ion ion-compose"></i>
                <span>Create new rule</span>
            </div>
            
            <div class="ng-content form-group;" style="margin-bottom: 20px;">
                <select class="ng-content form-control" (change)="fillerChanged($event.target.value)">
                        <option value="" selected disabled hidden>Choose a model</option>
                    <option value="random">Random</option>
                    <option value="loaf">Loaf</option>
                    <option value="glider">Glider</option>
                    <option value="center">Center line</option>
                    <option value="gridlines">Grid lines</option>
                    <option value="cross">Cross</option>
                    <option value="gun">Gosper glider gun</option>
                </select>
            </div>

            <div href (click)="openModalCreateRule()" class="btn btn-hero-primary " style="width:100%;margin-bottom: 100px;">
                <i class="ion ion-compose"></i>
                <span>Create new model</span>
            </div>


            <div class="btn btn-warning" (click)="start()" style="width:100%;margin-bottom: 20px;">
                <i class="menu-icon nb-play"></i>
                <span>Start</span>
            </div>

            <div style="display: flex;">
                <div style="width: 33%;padding-right: 6px;">
                    <div class="btn btn-warning" (click)="pause()" style="width:100%;">
                        <i class="menu-icon nb-pause"></i>
                    </div>
                </div>

                <div style="width: 33%; padding-left: 3px; padding-right: 3px;">
                    <div class="btn btn-warning" (click)="stop()" style="width:100%;">
                        <i class="menu-icon nb-square"></i>
                    </div>
                </div>
                <div style="width: 33%;padding-left: 6px;">
                    <div href class="btn btn-warning" (click)="resetCanvas()" style="width:100%;">
                    <i class="icon ion-refresh"></i>
                    </div>
                </div>
            </div>
        </div>
    </nb-sidebar>

    <nb-layout-column class="main-content">
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

    <nb-sidebar class="settings-sidebar" tag="settings-sidebar" state="collapsed" fixed [end]="sidebar.id !== 'end'">
        <ngx-theme-settings></ngx-theme-settings>
    </nb-sidebar>
</nb-layout>